<div class="chat">
    <div class="chat__avatar">
        <div class="avatar__icon">
            {{!-- {{avatar}} --}}
        </div>
    </div>

    <div class="message-box">
        <div class="user">
            <p class="user__name">user-name</p>
            <p class="user__message">text</p>
        </div>

        {{!-- {{message}} --}}

        <div class="chat__details">

            <div class="timer">
                <p>00 : 00</p>
                {{!-- {{timer}} --}}
            </div>
            <div class="counter">
                <div class="counter__index">1</div>
                {{!-- {{counter}} --}}
            </div>

        </div>

    </div>


</div>