<div class="card">
    <div class="card__title">
        <form class="form" action="/">
            <p style="text-align: center; font-size: 25px"> Войти </p>
            {{> fields label="Логин" type="text" name="login"}}
            {{> fields label="Пароль" type="password" name="password"}}
            {{> button value='Авторизоваться' label="Авторизоваться" }}
            {{> link text="Нет аккаунта?" }}
        </form>
    </div>
</div>