<div class="card">
    <div class="card__title">

        <form class="form" action="/">
            <div class="profile-form">
                <p style="text-align: center; font-size: 25px">Профиль</p>
                <div class="profile-form__item">
                    <p>Имя в чате</p>
                    <p>nick_name</p>
                </div>
                <div class="profile-form__item">
                    <p>Почта</p>
                    <p>userEmail</p>
                </div>
                <div class="profile-form__item">
                    <p>Логин</p>
                    <p>userLogin</p>
                </div>
                <div class="profile-form__item">
                    <p>Имя</p>
                    <p>first_name</p>
                </div>

                <div class="profile-form__item">
                    <p>Фамилия</p>
                    <p>second_name</p>
                </div>
                <div class="profile-form__item">
                    <p>Телефон</p>
                    <p>userPhone</p>
                </div>






            </div>

            {{> link href='/' text="Изменить данные" }}

            {{> button value='Выйти' label="Авторизоваться" }}

        </form>
    </div>
</div>