<div class="card">
    <div class="card__title">

        <form class="form" action="/">
            <p style="text-align: center; font-size: 25px">Изменить данные</p>

            {{> fields placeholder="Почта" type="email" name="email"}}
            {{> fields placeholder="Логин" type="text" name="login"}}
            {{> fields placeholder="Имя" type="text" name="first_name"}}
            {{> fields placeholder="Имя в чате" type="text" name="chat_name"}}
            {{> fields placeholder="Фамилия" type="text" name="second_name"}}
            {{> fields placeholder="Телефон" type="tel" name="phone"}}

            {{> link href='/' text="Сохранить" }}

            {{> button value='Выйти' label="Авторизоваться" }}

        </form>
    </div>
</div>