<aside class="chats__aside">
    <div class="chats__aside-top">
        <div class="chats__profile">
            {{> link text="Профиль" href='/'}}
        </div>
        <div class="input">{{> input placeholder='Поиск...'}}</div>
    </div>
    <div class="chats__aside-main">

        <ul>
            <li>{{> chat }}</li>
            <li>{{> chat }}</li>
            <li>{{> chat }}</li>
            <li>{{> chat }}</li>
            <li>{{> chat }}</li>
            <li>{{> chat }}</li>
            <li>{{> chat }}</li>
            <li>{{> chat }}</li>
            <li>{{> chat }}</li>
            <li>{{> chat }}</li>
            <li>{{> chat }}</li>
        </ul>

    </div>
</aside>
<div class="chats__expanded">
    <div class="chats__expanded-top">
        <div class="chat__avatar">
            <div class="avatar__icon">
                {{!-- {{avatar}} --}}
            </div>
        </div>
        <div class="user">
            <p class="user__name">user-name</p>
        </div>
        <div class="settings">
            <span></span>
        </div>
    </div>
    <div class="chats__expanded-main">
        <div class="interlocutor-message ">
            <p>interlocutor-message</p>
        </div>
        <div class="my-message ">
            <p>my-message</p>
        </div>
    </div>
    <div class="chats__expanded-bottom">
        <div class="chats__expanded-btn">
            {{> input placeholder="введите сообщение"}}
        </div>
        <div class="chats__expanded-submit">
            {{> input type="submit"}}
        </div>
    </div>
</div>