<div class="container">
	<main class="main">{{> login }}</main>
	<div class="register">{{> register }}</div>
	<div class="chats">{{> chats }}</div>
	<div class="profile">{{> profile }}</div>
	<div class="mainChat">{{> mainChat }}</div>
	<div class="profileChange">{{> profileChange }}</div>
	<div class="fileNotFound404">{{> fileNotFound404 }}</div>
	<div class="serverError500">{{> serverError500 }}</div>
</div>